<div class="home__container">
  <app-banner
    bannerImage="../../../assets/icons/banner.png"
    bannerTitle="Call of Duty - Modern Warfare III"
  ></app-banner>
  <app-card
    gameImage="../../../assets/icons/card-1.webp"
    gameLabel="Exclusivo"
    gameMedia="Digital - PS5"
    gamePrice="R$ 249,00"
  ></app-card>
  <app-card
    gameImage="../../../assets/icons/card-2.webp"
    gameLabel="Media Digital"
    gameMedia="Digital - PS4"
    gamePrice="R$ 349,00"
  ></app-card>
  <app-card
    gameImage="../../../assets/icons/card-3.webp"
    gameLabel="Media Digital"
    gameMedia="Digital - PS5 | PS4"
    gamePrice="R$ 149,00"
  ></app-card>
  <app-card
    gameImage="../../../assets/icons/card-4.webp"
    gameLabel="Exclusive"
    gameMedia="Digital - PS4"
    gamePrice="R$ 149,00"
  ></app-card>
  <app-card
    gameImage="../../../assets/icons/card-5.webp"
    gameLabel="Media Digital"
    gameMedia="Digital - PS5"
    gamePrice="R$ 79,00"
  ></app-card>
  <app-card
    gameImage="../../../assets/icons/card-6.webp"
    gameLabel="Media Digital"
    gameMedia="Digital - PS5 | PS4"
    gamePrice="Free to play"
  ></app-card>
  <app-card
    gameImage="../../../assets/icons/card-7.webp"
    gameLabel="Media Digital"
    gameMedia="Digital - PS4"
    gamePrice="R$ 79,00"
  ></app-card>
  <app-card
    gameImage="../../../assets/icons/card-8.webp"
    gameLabel="Media Digital"
    gameMedia="Digital - PS5"
    gamePrice="R$ 369,00"
  ></app-card>
  <app-card
    gameImage="../../../assets/icons/card-10.webp"
    gameLabel="Media Digital"
    gameMedia="Digital - PS5 | PS4"
    gamePrice="Free to play"
  ></app-card>
  <app-card
    gameImage="../../../assets/icons/card-11.webp"
    gameLabel="Media Digital"
    gameMedia="Digital - PS5 | PS4"
    gamePrice="R$ 79,00"
  ></app-card>
  <app-card
    gameImage="../../../assets/icons/card-13.webp"
    gameLabel="Media Digital"
    gameMedia="Digital - PS4"
    gamePrice="R$ 79,00"
  ></app-card>
  <app-card
    gameImage="../../../assets/icons/card-15.webp"
    gameLabel="Media Digital"
    gameMedia="Digital - PS4"
    gamePrice="R$ 29,90"
  ></app-card>
  <app-banner
    bannerImage="../../../assets/icons/banner-2.png"
    bannerTitle="PlayStation | Plus - Planos"
  ></app-banner>
  <app-carousel></app-carousel>
</div>
