@import url("https://fonts.cdnfonts.com/css/playstation");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
.home__container {
  width: 90%;
  margin: auto;
  margin-top: 75px;
  height: calc(100vh - 75px);
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  font-family: "PlayStation", sans-serif;
}
