<div class="nav__bar">
  <div class="nav__bar--superior">
    <ul class="nav__bar--superior__left">
      <li>
        <a class="image__icon--superior" href="#"
          ><img
            src="../../../assets/icons/Playstation_icon-icons.com_67099.png"
            alt=""
        /></a>
      </li>
      <li>
        <a href="https://portifolio-rafael-chi.vercel.app/">Meu Portfólio</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/rafael-fortunato-41303192/"
          >Linkedin</a
        >
      </li>
      <li>
        <a href="https://github.com/Caco0">GitHub</a>
      </li>
      <li>
        <a href="https://www.facebook.com/rfdametto">Facebook</a>
      </li>
      <li>
        <a href="#">Contate-me</a>
      </li>
    </ul>
    <div class="nav__bar--superior__right">
      <button class="nav__bar--button">Iniciar sessão</button>
      <input
        class="nav__bar--research"
        type="text"
        placeholder="Pesquisar"
        class="nav__bar--input__research"
      />
    </div>
  </div>
  <div class="nav__bar--inferior">
    <a class="image__icon--inferior" href="#"
      ><img
        src="../../../assets/icons/box_playstation_icon_188592.png"
        alt=""
      />
      PlayStatyon.Store</a
    >
    <ul class="nav__bar--inferior__middle">
      <li><a href="novidades">Novidades</a></li>
      <li><a href="#">Colecoes</a></li>
      <li><a href="#">Ofertas</a></li>
      <li><a href="#">Assinaturas</a></li>
      <li><a href="#">Navegar</a></li>
    </ul>
  </div>
</div>
