<div class="nav__bar">
  <div class="nav__bar--superior">
    <ul class="nav__bar--superior__left">
      <li>
        <a href="#"><img src="" alt="" /></a>
      </li>
      <li>
        <a href="#">Meu Portfólio</a>
      </li>
      <li>
        <a href="#">Linkedin</a>
      </li>
      <li>
        <a href="#">GitHub</a>
      </li>
      <li>
        <a href="#">Facebook</a>
      </li>
      <li>
        <a href="#">Contate-me</a>
      </li>
    </ul>
    <div class="nav__bar--superior__right">
      <button class="nav__bar--button">Iniciar sessão</button>
      <input
        class="nav__bar--research"
        type="text"
        placeholder="Pesquisar"
        class="nav__bar--input__research"
      />
    </div>
  </div>
  <div class="nav__bar--inferior">
    <a href="#"><img src="" alt="" />PlayStatyon.Store</a>
    <ul class="nav__bar--inferior__middle">
      <li><a href="#">Novidades</a></li>
      <li><a href="#">Coleções</a></li>
      <li><a href="#">Ofertas</a></li>
      <li><a href="#">Assinaturas</a></li>
      <li><a href="#">Navegar</a></li>
    </ul>
  </div>
</div>
